*

!.gitignore
!.github/
!.github/**

!LICENSE
!README.md

!.dockerignore
!.docker/
!.docker/**

!package.json
!package-lock.json
!tsconfig.json
!eslint.config.mjs
!scripts/
!scripts/**

!db-init.sql
!src/
!src/**
