*

!.gitignore
!.github/
!.github/**

!LICENSE
!README.md

!.docker/
!.docker/**

!package.json
!tsconfig.json
!eslint.config.mjs
!scripts/
!scripts/**

!tsoa.json
!db/
!db/**
!src/
!src/**
src/swagger.json
src/routes.ts
